@page
@model EventManager.Pages._Registration.CreateUserModel
@{
}

<div class="registration-content-wrapper">

    <section>
        <div class="registration-form">

            <div class="registration-card-header" style="background-color: rgba(255, 220, 0, 0.25)">
                <h1 class="registration-title-wrapper">Registration Form</h1>
            </div>

            <div class="main-card">

                <div class="registration-card-details">
                    <div class="details-card-body">
                        <h5 class="details-title">Important</h5>
                    </div>
                    <div class="details-card-body">
                        <p class="details-text">
                            All fields marked with * are required and must be filled out properly.
                        </p>
                    </div>
                </div>

                <div class="input-card-body">
                    <form class="p-3" style="margin: -1.5rem;" method="post">
                        <div class="form-group">
                            <label>FirstName: *</label>
                            <input type="text" asp-for="Users.FirstName" class="form-control" required placeholder="Must be at least 3 characters" />
                            <span asp-validation-for="Users.FirstName" class="alert-danger"></span>
                        </div>

                        <div class="form-group">
                            <label>LastName: *</label>
                            <input type="text" asp-for="Users.LastName" class="form-control" required placeholder="Must be at least 3 characters" />
                            <span asp-validation-for="Users.LastName" class="alert-danger"></span>
                        </div>

                        <div class="form-group">
                            <label>Phone: *</label>
                            <input type="text" asp-for="Users.Phone" class="form-control" required placeholder="Must be 8 characters" />
                            <span asp-validation-for="Users.Phone" class="alert-danger"></span>
                        </div>

                        <div class="form-group">
                            <label>Email: *</label>
                            <input type="text" asp-for="Users.Email" class="form-control" required placeholder="Example@example.com" />
                            <span asp-validation-for="Users.Email" class="alert-danger"></span>
                        </div>

                        <div class="form-group">
                            <label>Password: *</label>
                            <input type="text" asp-for="Users.Password" class="form-control" required placeholder="Must be between 4 and 8 characters" />
                            <span asp-validation-for="Users.Password" class="alert-danger"></span>
                        </div>

                        <div class="button-card-wrapper">
                            <input type="submit" value="Create" class="btn btn-primary" style="align-content: center" />
                            <a asp-page="/Pages/_Login/Index" style="margin-left: 22%; margin-top: 3%;">Already have a user? Click here to sign in!</a>
                        </div>
                    </form>
                    <a asp-page="../_Login/Index" style="margin-left: 22%; margin-top: 3%;">Already have a user? Click here to sign in!</a>
                </div>
            </div>
        </div>
    </section>

</div>




<style>
    .registration-content-wrapper {
        margin: 0;
    }

    .registration-form {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        padding: 0;
        border: 1px solid rgba(100, 100, 100, 0.25);
        border-radius: 0.25rem;
        box-shadow: 1px 3px 15px -3px #9d9d9d;
        flex: 0 0 33.333333%;
        max-width: 55.5%;
        margin: 0 auto;
        margin-top: 3%;
        margin-bottom: 2%;
    }

    .registration-card-header {
        text-transform: uppercase;
        text-align: center;
        font-weight: 900;
        padding: .75rem 1.25rem;
        margin-bottom: 0;
        background-color: rgba(0,0,0,.03);
        border-bottom: 1px solid rgba(100, 100, 100, 0.25);
    }

    .registration-title-wrapper {
        text-transform: uppercase;
        font-weight: 900;
    }

    .button-card-wrapper {
        position: relative;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        margin-top: 2.2rem;
        margin-bottom: -1%;
        width: 100%;
    }

    .registration-card-details {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        padding: 4%;
        margin-bottom: -2rem;
        margin-left: -0.5rem;
    }

    .details-card-body {
        flex: 1 1 auto;
        padding: 0.1rem;
    }

    .details-title {
        text-transform: uppercase;
        font-weight: 700;
    }

    .details-text {
        font-style: italic;
        border-bottom: 1px solid;
        position: absolute;
        height: 27px;
    }

    

    .registration-card-text {
        margin-bottom: 0.75rem;
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.2;
    }


    .main-card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        padding: 4%;
    }

    .input-card-body {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        padding: 4%;
        margin-top: 3.5rem;
    }
</style>