@page "{id:int}"
@model EventManager.Pages._Admin.DeleteModel
@{
    ViewData["Title"] = "Delete Event";
}



<h1>Delete Confirmation</h1>
<div class="alert alert-danger">
    <h5>Are you sure you want to delete the Event - @Model.Event.EventName</h5>
    <form method="post">
        <button type="submit" class="btn btn-danger">Yes</button>
        <a class="btn btn-primary" asp-page="/_Event/Index">No</a>
    </form>
</div>